<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title layout:title-pattern="$CONTENT_TITLE">All in One</title>
  <script>
    let page = "layout"
  </script>
</head>
<body>
<header th:object="${user}">
  <h1>Welcome <span th:text="${user.firstName}" >Username</span></h1>
</header>
<section data-layout-fragment="content">

  <form action="#" th:action="@{/addProject}">
    <input type="submit" value="Add project"/>
  </form>

  <table>
    <thead>
      <tr>
        <div th:if="${!projects.isEmpty()}">
          <th>Projects</th>
        </div>
        <div th:if="${projects.isEmpty()}">
          <p th:text="'The projects you create will appear here'"></p>
        </div>
      </tr>
    </thead>
    <tbody>
      <tr th:each="project : ${projects}">
        <td><a th:href="@{/{projectId}(projectId=${project.id})}"><span th:text="${project.name}">Name</span></a></td>
      </tr>
    </tbody>
  </table>
  <form action="#" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
  </form>
</section>
</body>
</html>