<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title layout:title-pattern="$CONTENT_TITLE">Demo</title>
  <script>
    let page = "layout"
  </script>
</head>
<body>
<header>
  <h1>Welcome <span sec:authentication="name">Username</span></h1>
</header>
<section data-layout-fragment="content">

  <div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span></div>

  <form action="#" th:action="@{/addProject}">
    <input type="submit" value="Add project"/>
  </form>
</section>
</body>
</html>