<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title layout:title-pattern="$CONTENT_TITLE">Demo</title>
  <script>
    let page = "layout"
  </script>
</head>
<body>
<section data-layout-fragment="content">
  <p th:text="${project.name}"></p>
  <p th:text="${project.description}"></p>

  <table>
    <thead>
    <tr>
      <th>Tasks</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
      <td><a th:href="@{__${#httpServletRequest.requestURI}__/{taskId}(taskId=${task.id})}"><span th:text="${task.name}">Name</span></a></td>
    </tr>
    </tbody>
  </table>

  <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/addMemberToProject}">
    <input type="submit" value="Add project Member"/>
  </form>

  <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/addTask}">
    <input type="submit" value="Add task"/>
  </form>
</section>
<section data-layout-fragment="content">
  <form action="#" th:action="@{/}">
    <input type="submit" value="Go home"/>
  </form>
</section>
</body>
</html>