<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title layout:title-pattern="$CONTENT_TITLE">Demo</title>
  <script>
    let page = "layout"
  </script>
</head>
<body>
<section data-layout-fragment="content">
  <p th:text="${task.name}"></p>
  <p th:text="'Assigned to: ' + ${assigned.firstName} + ' ' + ${assigned.lastName}"></p>
  <p th:text="'Deadline: ' + ${deadline}"></p>
  <p th:text="'Status: ' + ${task.status}"></p>
  <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/editDescription}" th:object="${comment}" method="post">
    <input type="text" th:field="*{text}" placeholder="Description" class="form-control" />
    <button type="submit" class="btn btn-primary btn-block">Change Description</button>
  </form>
  <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/editStatus}" th:object="${comment}" method="post">
    <input type="text" th:field="*{text}" placeholder="New Status" class="form-control" />
    <button type="submit" class="btn btn-primary btn-block">Change Status</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="comment : ${comments}">
        <td><span th:text="${comment.id}">Name</span></td>
        <td><span th:text="${comment.userName}">Name</span></td>
        <td><span th:text="${comment.text}">Name</span></td>
      </tr>
    </tbody>
  </table>
  <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/addComment}" th:object="${comment}" method="post">
    <input type="text" th:field="*{text}" placeholder="Comment" class="form-control" />
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
  <div th:object="${project}" >
    <form action="#" th:action="@{/{projectId}(projectId=${project.id})}">
      <input type="submit" value="Go back"/>
    </form>
  </div>
  <div>
    <form action="#" th:action="@{/}">
      <input type="submit" value="Go home"/>
    </form>
  </div>
  </section>
  </body>
  </html>